$active-color: #5dca88;
$text-color-main: #636c6c;
$text-color-muted: #afb8b8;
$foutet-color: #2d312f;
$even-background: #f2f9fe;

@mixin verticalcenter {
    display: flex;
    align-items: center;
} 

@mixin  fonStyle($fontSize: 14px, $fontWeight: 500) { /*в скобках передаем значение а через двоеточие значение по умолчанию*/
    color: $text-color-main;
    font-size: $fontSize;
    font-weight: $fontWeight;

    
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width:  100%;
    @include verticalcenter;
    justify-content: center;   /*БЭМ - блое элемент модификатор, через нижнее подчеркивание    header__menu__logo   header__menu__links__item  вложенность не более 3. Элемент пишется через тирэ*/
}

.container {
    width: 1172px;
}
.header{
    height: 109px;
    @include verticalcenter;
    justify-content: space-between;

    &__menu{ /*амперсант заменят родителя на уровень выше*/
            @include verticalcenter;

        &-logo{
        }

        .links{
            list-style-type: none;

            &__item{
                    display: inline-block;
                    margin-left: 30px;

        a{
            text-decoration: none;
            @include fonStyle($fontWeight: 900, $fontSize: 25px);
        }

            }
        }
    }

    &__contacts{
        @include verticalcenter;
        
        &-item{
            margin-right: 40px;
            color: $text-color-main;

            &:last-child {
                margin-right: 0px;
            }

            &-text{
                text-decoration: none;
                @include fonStyle(16px, 900);

            }
        }
    }
}



.banner{
    background-image: url('../images/glow.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position: cover;

    &__cotent{
        height: 730px;
        padding-top: 180px;
        box-sizing: border-box;
    }
}
